/* Font Definitions */
@font-face {
    font-family: 'Clash Display';
    src: url('../fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: 100 900; /* Erlaubt feine und mittlere Schriftstärken */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Clash Grotesk';
    src: url('../fonts/ClashGrotesk-Variable.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
}

/* Global resets and typography */
body {
    font-family: "Clash Grotesk", system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--neutral-dark);
    margin: 0;
    background-color: var(--color-bg-paper);
}

h1, h2, h3 {
    font-family: "Clash Display", system-ui, sans-serif;
    margin-bottom: var(--space-md);
}

h1 {
    word-wrap: break-word;
    font-size: clamp(2rem, 8vw, 2.9rem); /* Responsive font-size */
}

h2 {
    font-size: 1.75rem;
}

p {
    font-size: clamp(0.9rem, 3vw, 1rem);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Utility Classes */
.subheadline{
    font-size: clamp(1rem, 4vw, 1.25rem);
    text-transform: uppercase;
    color: var(--secondary-pink-500);
}

.text-center {
    text-align: center;
}