/* Font Definitions */
@font-face {
    font-family: 'Momo Trust Display';
    src: url('../fonts/MomoTrustDisplay-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans Flex';
    src: url('../fonts/GoogleSansFlex-VariableFont_GRAD,ROND,opsz,slnt,wdth,wght.ttf') format('truetype');
    font-weight: 100 1000;
    font-style: normal;
    font-display: swap;
}

/* Global resets and typography */
body {
    font-family: "Google Sans Flex", system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--neutral-dark);
    margin: 0;
}

h1, h2, h3 {
    font-family: "Momo Trust Display", system-ui, sans-serif;
    margin-bottom: var(--space-md);
}

h1 {
    word-wrap: break-word;
    font-size: clamp(2rem, 8vw, 2.9rem); /* Responsive font-size */
}

h2 {
    font-size: 1.75rem;
}

p {
    font-size: clamp(0.9rem, 3vw, 1rem);
}

/* Utility Classes */
.subheadline{
    font-size: clamp(1rem, 4vw, 1.25rem);
    text-transform: uppercase;
    color: var(--secondary-pink-500);
}

.text-center {
    text-align: center;
}