header {
    /*background-image: url("../images/background.jpg");
    /*background-color: rgb(24 24 24);
    background-size: cover;         /* Hintergrund-Bild Größe
    background-position: center;    /* Hintergrund-Bild Position
    border-radius: 1rem;            /* Ecken abrunden
    height: calc(100vh - 2rem);     /* so groß wie Desktop Startseite (minus den margin)
    margin: 1rem;                   /* weiße Ränder rundherum
    width: calc(100% - 2rem);       /* so breit wie Desktop Startseite (minus den margin)
*/}

body {
    margin: 0;
}

.topbar nav ul li {
    display: inline-block;      /* Listenelemente nebeneinander */
    margin-right: 2rem;         /* Abstand zwischen den Listenelementen */
}

@media screen and (max-width: 75rem) {  /* 75rem = 1200px */
    .container {
        width: 100%;            /* Container nimmt die volle Breite vom Browserfenster ein */
    }
}


/* Topbar-Styling  */
.topbar {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-md) 0;
    box-sizing: border-box;
}

.logo img {
    height: 80px;
    width: auto;  /* Behält das Seitenverhältnis bei */
    display: block;
    padding: 0 var(--space-lg);
}


nav ul {
    list-style: none; /* Keine Bullet-Points */
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-lg);
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: var(--neutral-dark);
    font-family: 'Google Sans Flex', sans-serif;
    font-weight: 500;
    transition: 0.3s;
}

nav a:link, nav a:visited {
    color: var(--neutral-dark);
    text-decoration: none;
    transition: color 0.3s ease; /* Weicher Übergang */
}

nav a:hover, nav a:active {
    color: var(--secondary-pink-500);
}
@media screen and (max-width: 768px) {
    .topbar {
        flex-direction: column;
        height: auto;
        padding: var(--space-md);
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .topbar nav ul li {
        margin-right: 0;
        text-align: center;
    }

    .logo img {
        height: 40px;
        width: auto;
        display: block;
        padding: 0;
        margin: 0 auto var(--space-md) auto;
        display: block;
    }
}


/* Button-Styling  */
.btn {
    padding: 12px 30px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
}

.btn-primary {
    background-color: var(--secondary-pink-500);
    color: var(--neutral-light);
    border: 2px solid var(--secondary-pink-500);
}
.btn-primary:hover {
    background-color: var(--secondary-pink-400);
    border: 2px solid var(--secondary-pink-400);
}

.btn-secondary {
    background-color: var(--neutral-light);
    color: var(--accent-blue);
    border: 2px solid var(--accent-blue);
}
.btn-secondary:hover{
    background-color: var(--accent-blue);
    color: var(--neutral-light);
}

/* Skills-Bereich */
.skills-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
}

/* Kontaktbereich */
.contact-subheadline {
    color: var(--primary-teal-500);
    margin-bottom: var(--space-xl);
    text-align: center;
}

.styled-form {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    max-width: 800px;
    margin: 0 auto;
}

.form-row {
    display: flex;
    gap: var(--space-md);
}

.form-group {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--space-xs);
    text-align: center;
}

.form-group label {
    font-family: 'Google Sans Flex', sans-serif;
    font-weight: 500;
}

.form-group input,
.form-group textarea {
    padding: var(--space-sm);
    border: 2px solid var(--primary-teal-100);
    border-radius: 25px;
    font-family: 'Google Sans Flex', sans-serif;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: var(--space-md);
    margin-top: var(--space-md);
}

@media screen and (max-width: 768px) {
    .form-row {
        flex-direction: column;
        gap: var(--space-md);
    }
}


/* Footer */
footer {
    background-color: var(--primary-teal-500);
    color: var(--neutral-light);
    padding: var(--space-xl) 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    text-align: right;
    text-transform: uppercase;
}

.footer-nav a {
    color: var(--neutral-light);
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 2;
}

/* vertikale Trennlinie */
.footer-divider {
    margin-top: var(--space-sm);
    width: 1px;
    height: 150px;
    background-color: var(--neutral-light);
}

.footer-contact {
    font-family: 'Google Sans Flex', sans-serif;
    line-height: 1.6;
}

address {
    font-style: normal;
    margin-bottom: var(--space-md);
}

.footer-contact a {
    color: var(--neutral-light);
    text-decoration: none;
}

.back-to-top {
    position: absolute;
    top: var(--space-lg);
    right: 5%;
}

.back-to-top img {
    width: 24px;
    transition: transform 0.3s;
}

.back-to-top:hover img {
    transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
    .footer-wrapper {
        flex-direction: column;
        align-items: center;
        gap: var(--space-sm);
        text-align: center;
    }

    .footer-divider {
        display: none;
    }

    .footer-nav ul {
        text-align: center;
    }

    .back-to-top {
        position: static;

    }
}
