/*Klasse, die ich immer anwenden kann, wenn ich den Text zentriert will*/
.text-center {
    text-align: center;
}

.rounded {
    border-radius: 0.5rem;
}

.container {
    max-width: 73rem;
    margin: 0 auto;
    padding: 0 96px;
    margin-bottom: var(--space-xl);
}

/* Grid für die Hero-Section */
.grid-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Figma-Gutter */
    align-items: center;
}

@media (max-width: 768px) {
    .grid-2-col { grid-template-columns: 1fr; } /* Mobile View */
}

/* Container für die Skills */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsives Raster */
    gap: var(--space-xl);
    margin-top: var(--space-lg);
    text-align: center;
}

/* Einzelnes Skill-Element */
.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-sm);
}

.skill-item img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.skill-item:hover img {
    transform: scale(1.1); /* Kleiner Interaktionseffekt */
}

.skill-item span {
    font-family: 'Google Sans Flex', sans-serif;
    font-weight: 500;
}

/* Projekte */
.project-gallery {
    display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 gleich breite Spalten */
    grid-auto-rows: auto;
    gap: var(--space-md);
    margin-top: var(--space-xl);
    width: 100%;
}

.project-item {
    overflow: hidden;
}

.project-image{
    height: 330px;
    width: 100%;
    overflow: hidden;
    border-radius: var(--space-md);
    margin-bottom: var(--space-sm);
}


.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-text{
    margin-left: var(--space-sm);
}

.project-text p {
    font-size: 0.9rem;
    margin-top: 0;
}
.project-text h3 {
    margin-bottom: 0;
}

/* Responsive: Auf dem Handy nur 1 Spalte */
@media (max-width: 768px) {
    .project-gallery {
        grid-template-columns: 1fr;
        grid-auto-rows: 250px;
    }
}

/* Kontaktformular-Responsive */
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }
}

/* Footer-Responsive */
@media (max-width: 768px) {
    .footer-wrapper {
        flex-direction: column; /* Stapeln */
        align-items: center;
        text-align: center;
        gap: var(--space-xl);
    }

    .footer-nav ul { text-align: center; }
    .footer-divider { display: none; } /* Linie weg auf Mobile */
    .back-to-top { right: var(--space-md); }
}
