html, body {
    max-width: 100%;
    overflow-x: hidden;
}



.rounded {
    border-radius: 0.5rem;
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
}




/* Skills Bereich
.skill-item span {
    font-family: 'Google Sans Flex', sans-serif;
    font-weight: 500;
}
.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-sm);
}*/



/* Projekte */

.project-item {
    overflow: hidden;
}

/*.project-image{
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: var(--space-md);
    margin-bottom: var(--space-sm);
}
*/





/* Footer-Responsive */



/* ---------------------- */


/*@media screen and (max-width: 75rem) {   75rem = 1200px
    .container {
        width: 100%;
}*/

nav a {
    text-decoration: none;
    color: var(--neutral-dark);
    font-family: 'Google Sans Flex', sans-serif;
    font-weight: 500;
    transition: 0.3s;
}


/* Skills-Bereich */


/* Kontaktbereich */





/* Footer */












